#wrapper {
  text-align: center;
  width:500px;
  margin:0 auto;
}

#bluebox {
  width: 250px;
  background-color:blue;
  height: 250px;
  color:white;
  margin: 25px auto;
  text-align: center;
  vertical-align: middle;
}

.create-user-container {
  display: none;
}

.create-user-container, .login-container{
  width: 100%;
}

.login-msg {
  display: none;
}

.side-buttoncolor {
  background-color:#e9ecef;
}

.side-button-width {

}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
